@{
    ViewData["Title"] = "Inicio Page";
}

@{
    Layout = "_LayoutColaborador";
}

<link rel="stylesheet" href="~/css/Home.css">

<div class="main">
    <div id="fondo2" class="container-fluid p-0 align-items-center">
        <div class="row align-items-center">
            <div id="carouselExampleFade" class="carousel slide carousel-fade pe-5" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container-xxl">
                            <div class="row text-dark p-5 align-items-center">
                                <div class="card border-0 p-3 shadow-lg">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6 mt-4">
                                                <h2 class="display-7 font-weight-bold mb-3">
                                                    ¿Tienes capacitaciones pendientes? <br> ¡Es hora de aumentar tus conocimientos!
                                                </h2>
                                                <p class="lead mb-3">
                                                    "En RRHH nos tomamos el tiempo de evaluarte para que <br> sigas creciendo y mejorando tus habilidades"
                                                </p>
                                                <p>
                                                    Hospicio de Huérfanos de Cartago | Costa Rica
                                                </p>
                                                <a href="https://mail.google.com/mail/u/0/?hl=es#inbox" class="btn btn-custom-color btn-lg fw-bold text-uppercase promo-btn mt-2 mb-4">
                                                    ¡Ver mis Capacitaciones!
                                                </a>
                                            </div>
                                            <div class="col-lg-6 mt-4 align-items-start">
                                                <img src="~/img/Carruselimg1.png" alt="image" class="img-fluid" id="imgCarrusel2">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container-xxl">
                            <div class="row text-dark p-5 align-items-center">
                                <div class="card border-0 p-2 shadow-lg">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6">
                                                <img src="~/img/Carruselimg3.png" alt="image" class="img-fluid" id="imgCarrusel3">
                                            </div>
                                            <div class="col-lg-6">
                                                <h2 class="display-6 font-weight-bold text-center">
                                                    ¿Necesitas asistencia?
                                                </h2>
                                                <p class="lead mb-3">
                                                    Puedes comunicarte con nosotros enviando un correo detallando tu situación.
                                                </p>
                                                <div class="container-fluid p-0">
                                                    <div class="row">
                                                        <div class="col-6">
                                                            <a href="https://hhc.co.cr/#:~:text=Instituci%C3%B3n%20pionera%20del%20sistema%20de%20liceos%20experimentales%20biling%C3%BCes%20del%20pa%C3%ADs." class="btn btn-custom-color btn-lg fw-bold text-uppercase promo-btn">
                                                                <i id="icon2" class="bi bi-envelope-fill"></i>
                                                            </a>
                                                            <p class="lead mt-3">
                                                                Correo Talento Humano
                                                            </p>
                                                            <p>
                                                                Estamos aquí para apoyarte en todo momento.
                                                                No dudes en enviarnos un correo cuando requieras asistencia.
                                                            </p>
                                                        </div>
                                                        <div class="col-6">
                                                            <a href="https://hhc.co.cr/#:~:text=Instituci%C3%B3n%20pionera%20del%20sistema%20de%20liceos%20experimentales%20biling%C3%BCes%20del%20pa%C3%ADs." class="btn btn-custom-color btn-lg fw-bold text-uppercase promo-btn">
                                                                <i id="icon2" class="bi bi-telephone-fill"></i>
                                                            </a>
                                                            <p class="lead mt-3">
                                                                Teléfono Talento Humano
                                                            </p>
                                                            <p>
                                                                Estamos aquí para apoyarte en todo momento.
                                                                Llámanos cuando requieras asistencia.
                                                            </p>
                                                        </div>
                                                        <p class="lead mt-3 text-center mt-3">
                                                            ¡Tu bienestar es nuestra prioridad!
                                                        </p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container-xxl">
                            <div class="row text-dark p-5 align-items-center">
                                <div class="card border-0 p-2 shadow-lg">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-lg-6 mt-4">
                                                <h2 class="display-7 font-weight-bold mb-3">
                                                    ¡Las evaluaciones son la mejor forma de medir tus conocimientos!
                                                </h2>
                                                <p class="lead mb-3">
                                                    "En Talento Humano no solo buscamos que mejores, <br> sino que tú mismo puedas darte cuenta de tus avances"
                                                </p>
                                                <p>
                                                    Hospicio de Huérfanos de Cartago | Costa Rica
                                                </p>
                                                <a href="https://mail.google.com/mail/u/0/?hl=es#inbox" class="btn btn-custom-color btn-lg fw-bold text-uppercase promo-btn mt-2 mb-4">
                                                    ¡Ver mis Evaluaciones!
                                                </a>
                                            </div>
                                            <div class="col-lg-6 align-items-start">
                                                <img src="~/img/Carruselimg2.png" alt="image" class="img-fluid" id="imgCarrusel1">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>

                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleFade" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <br>
    </div>
</div>