@model RecursosHumanos_Models.Institucion

@{
    var titulo = "¿Está seguro de eliminar la institución?";
    Layout = null;
}

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
<link href="~/css/instituciones.css" rel="stylesheet" />

<form method="post" asp-action="Eliminar">
    <input asp-for="Id" hidden />

    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <h2 class="text-danger">@titulo</h2>
        </div>

        <div class="row">
            <div class="col-md-6">
                <label asp-for="NombreInstitucion" class="form-label">Nombre de la Institución</label>
                <input asp-for="NombreInstitucion" disabled class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <label asp-for="DescripcionInstitucion" class="form-label">Descripción</label>
                <input asp-for="DescripcionInstitucion" disabled class="form-control" />
            </div>
        </div>

        <div class="d-grid gap-2 d-md-block">
            <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-controller="Institucion" asp-action="Index" class="btn btn-success">Regresar</a>
        </div>
    </div>
</form>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/instituciones.js"></script>
