@using RecursosHumanos_Utilidades
@model RecursosHumanos_Models

@{
    var titulo = "Crear nueva institución";

    Layout = null;
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">

    @if (Model.Institucion.Id != 0)

    {

        titulo = "Editar Institución";
        <input asp-for="Institucion.Id" hidden>
        //si es editar tengo que enviar el id de la institución que vamos a editar

    }

    <div class="border p-3">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <h2 class="text-info">@titulo</h2> @*aca llamaremos a nuestra variable titulo de acuerdo a lo que hay que hacer*@
        </div>

        <div class="row">
            <div class="col-8">
                @*  Aca es donde esta todo el formulario de editar institución *@
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Institucion.NombreInstitucion" class="form-label">Nombre de la institución</label>
                            <input asp-for="Institucion.NombreInstitucion" class="form-control" />
                            <span asp-validation-for="Institucion.NombreInstitucion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Institucion.DescripcionInstitucion" class="form-label">Descripción</label>
                            <input asp-for="Institucion.DescripcionInstitucion" class="form-control" />
                            <span asp-validation-for="Institucion.DescripcionInstitucion" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Institucion.DescripcionCorta" class="form-label">Descripción corta</label>
                            <input asp-for="Institucion.DescripcionCorta" class="form-control" />
                            <span asp-validation-for="Institucion.DescripcionCorta" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Institucion.ImagenUrlInstitucion" class="form-label">Imagen</label>
                            <input type="file" name="files" id="imagenId" class="form-control" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Institucion.CategoriaId" class="form-label">Categoría</label>
                            <select asp-for="Institucion.CategoriaId" asp-items="@Model.CategoriaLista" class="form-select">
                                <option disabled selected>--Seleccione Categoría</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label asp-for="Institucion.TipoAplicacionId" class="form-label">Tipo de Aplicación</label>
                            <select asp-for="Institucion.TipoAplicacionId" asp-items="@Model.TipoAplicacionLista" class="form-select">
                                <option disabled selected>--Seleccione un Tipo</option>
                            </select>
                        </div>
                    </div>
                    <br />

                    <div class="d-grid gap-2 d-md-block">

                        @if (Model.Institucion.Id != 0)

                        {
                            <button type="submit" class="btn btn-primary">Actualizar</button>
                        }

                        else

                        {
                            <button type="submit" onclick="javascript:validarImagen();" class="btn btn-primary">Crear Nuevo</button>
                        }
                        <a asp-controller="Institucion" asp-action="Index" class="btn btn-success">Regresar</a>
                    </div>
                </div> @* aca termina el col 8 *@
            </div>

            @*aca agregamos el DIV PARA INCLUIR LA IMAGEN CUANDO EDITEMOS LA INSTITUCIÓN *@
            <div class="col-4">
                @*esta validación es para que la imagen se presente solo si la institución ya existe, o sea no es nueva*@
                @if (Model.Institucion.Id != 0)
                {
                    <img src="@WC.ImagenRuta@Model.Institucion.ImagenUrlInstitucion" width="100%" style="border-radius:5px; border:1px solid #bbb" />
                }
                
            </div>

        </div>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        $(document).ready(function () {
            $('.summernote').summernote({
                height: 250
            });
        });

        function validarImagen() {
            if (document.getElementById("imagenId").value == "") {
                swal("Error", "Seleccione una imagen!", "error");
                return false;
            }
            return true;
        }
    </script>
}
