@page
@model LoginModel
@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/cssLogin.css">
</head>

<body id="body-login">
    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div id="wrapper-login" class="wrapper">
            <form id="account" method="post">
                <img id="img-login" src="~/Imagenes/RRHHLogo.png" alt="Logo de RRHH">

                <div id="input-field-login" class="input-field">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" required>
                    <label asp-for="Input.Email">Ingrese su usuario</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>

                <div id="input-field-login" class="input-field">
                    <input asp-for="Input.Password" type="password" class="form-control" autocomplete="current-password" aria-required="true" required>
                    <label asp-for="Input.Password">Ingrese su contraseña</label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>

                <div id="forget-login" class="forget">
                    <label>
                        <input type="checkbox" asp-for="Input.RememberMe">
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
                    <a asp-page="./ForgotPassword">Olvide mi contraseña</a>
                </div>

                <button id="button-login" type="submit" class="btn btn-primary w-100">Ingresar</button>

                <div id="register" class="register">
                    <p>No tiene una cuenta? <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrarse</a></p>
                </div>
            </form>
        </div>
    </div>

</body>

</html>
