@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}
@if (User.IsInRole(RecursosHumanos_Utilidades.WC.AdminRole))
{
    <h1>Registrar un nuevo usuario administrador</h1>
}
else
{
    <h1> </h1>
}
<h1></h1>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log in Recursos Humanos</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/Login.css">
</head>

<body id="body-login">
<div class="container d-flex justify-content-center align-items-center vh-100">
    <div id="wrapper-login" class="wrapper">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <img id="img-login" src="~/img/RRHHLogo.png" alt="">

            <div id="input-field-login" class="input-field">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="Input.Email"></label>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>

            <div id="input-field-login" class="input-field">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.Password"></label>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div id="input-field-login" class="input-field">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="Input.ConfirmPassword"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>

            @if (User.IsInRole(RecursosHumanos_Utilidades.WC.AdminRole))
            {
                <button id="button-login" type="submit" class="btn btn-lg btn-warning w-100">Registra Admin</button>
            }
            else
            {
                <button id="button-login" type="submit" class="btn btn-lg btn-primary w-100">Registrar</button>
            }

        </form>
    </div>
</div>
</body>
</html>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
