@using RecursosHumanos_Utilidades
@model RecursosHumanos_Models.ViewModels.PreguntaVM

@{


    var titulo = "Crear nueva pregunta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form method="post" asp-action="Upsert" enctype="multipart/form-data">

    @if (Model.Pregunta.Id != 0)
    {
        titulo = "Editar Pregunta";
        <input asp-for="Pregunta.Id" hidden>
        //si es editar tengo que enviar el id del producto que vamos a editar

    }

    <div class="border p-3">

        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="row">
            <h2 class="text-info">@titulo</h2> @*aca llamaremos a nuestra variable titulo de acuerdo a lo que hay que hacer*@
        </div>

        <div class="row">
            <div class="col-8">
                @*  Aca es donde esta todo el formulario de editar productos *@
                <div id="Evaluacion-card" class="card">

                    <div class="card-body">

                        <h5 id="Evaluacion-card-title" class="card-title"> Pregunta</h5>
                        
                        <input asp-for="Pregunta.Texto" id="Evaluacion-card-title" class="card-title" placeholder="Ingrese su pregunta" type="text" />
                        <div id="separador-pregunta"></div>


                    </div>

                </div>
               
            </div>

       

        </div>

    </div>


</form>
