@model IEnumerable<RecursosHumanos_Models.Capacitacion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" id="BarraBusqueda">
    <div class="row">
        <div class="col-md-6 offset-md-3 col-sm-8 offset-sm-2">
            <form asp-action="Index" method="get">
                <div class="input-group mb-3">
                    <input 
                        type="text" 
                        class="form-control" 
                        name="searchTerm" 
                        placeholder="Buscar Capacitación..." 
                        aria-label="Buscar Capacitación..." 
                        aria-describedby="button-addon2" 
                        value="@ViewData["searchTerm"]" />
                    <button class="btn btn-outline-secondary" type="submit" id="button-buscarCap">
                        <i class="bi bi-search"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="container" id="MostrarCapacitaciones">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card text-center shadow-sm" style="border-radius: 10px;">
                <div class="card-body">
                    <h4 class="card-title mb-3" style="font-weight: 600;">Agregar una Nueva Capacitación</h4>
                    <hr class="my-3" />
                    <div>
                        <!-- Enlace que redirige a la vista Upsert -->
                        <a asp-controller="Capacitacion" asp-action="Upsert" class="btn btn-outline-warning rounded-circle" style="width: 80px; height: 80px; font-size: 2rem;">
                            <i class="bi bi-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
