#btn-Evaluacion {
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 15px;
    border: 0.1px solid rgb(235,130,35);
    color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 10 20px rgba(0, 0, 0, 0.1);
    transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: rgb(235,130,35);
}

    #btn-Evaluacion:hover {
        background-color: rgb(227, 111, 10);
        color: #fff;
        padding: 10px 20px;
    }

#bot {
    font-weight: 300;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 15px;
    border: 0.1px solid #505050;
    color: rgb(255, 255, 255);
    font-weight: 600;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 10 20px rgba(0, 0, 0, 0.1);
    transition: all .3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    background-color: #505050;
}

    #bot:hover {
        background-color: #363636;
        color: rgb(255, 255, 255);
        padding: 10px 20px;
    }

body {
    background-color: #f8f9fa;
    font-family: 'Arial', sans-serif;
}


#Evaluacion-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
}


#Evaluacion-card {
    border: none;
    border-radius: 10px;
    transition: transform 0.2s;
}

    #Evaluacion-card:hover {
        transform: scale(1.02);
    }

#input-Evaluacion {
    border-radius: 5px;
    border: 1px solid #ced4da;
    transition: border-color 0.3s;
}

    #input-Evaluacion:focus {
        border-color: rgba(238,129,34,255);
        box-shadow: 0 0 5px rgba(238,129,34,255);
    }


#Evaluacion-card-title {
    font-weight: bold;
    color: #343a40;
}

.questions-container {
    margin-top: 20px;
}

#box-Evaluacion {
    margin-top: 20px;
}


#linea-Formulario {
    width: 100%;
    height: 4px;
    background-color: rgb(235,130,35);
    border-radius: 40px;
}

#input-Evaluacion {
    border-right: 25px solid #505050;
}

#separador-pregunta {
    width: 35%;
    height: 4px;
    background-color: rgb(235,130,35);
    align-self: start;
    border-radius: 40px;
}
