#fondo2 {
    min-height: 100vh;
    max-height: none;
    overflow: hidden;
    background-image: url(../img/fondo2.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#carouselExampleFade {
    min-height: 100vh;
    max-height: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-control-prev, .carousel-control-next {
    position: absolute;
    top: 45%;
    transform: translateY(-45%);
    width: 60px;
    height: 60px;
    background-color: rgba(94, 93, 93, 0.5);
    border-radius: 50%;
}

.carousel-control-next {
    right: 20px;
}

.carousel-control-prev {
    left: 20px;
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: rgb(235,130,35);
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-size: 100%, 100%;
    font-size: 1.5rem;
}


#imgCarrusel1 {
    filter: drop-shadow( 0 0 5px rgba(109, 109, 109, 0.8) )
}

#imgCarrusel2 {
    width: 700rem;
    filter: drop-shadow( 0 0 5px rgba(109, 109, 109, 0.8) )
}

#imgCarrusel3 {
    filter: drop-shadow( 0 0 5px rgba(109, 109, 109, 0.8) )
}

.btn-custom-color {
    background-color: rgb(235,130,35);
    color: white;
    border: none;
}

.btn-custom-color:hover {
    background-color: rgb(226, 114, 17);
    color: white;
}
