@using RecursosHumanos_Utilidades
@model RecursosHumanos_Models.Evaluacion

<div class="card mb-2" id="cartaEva">
    <div id="card-body-Eva" class="card-body d-flex justify-content-between align-items-center">
        <span id="titulo-evaluacion-pendiente-1">Evaluación Pendiente 1</span>
        <button class="btn btn-realizar-evaluacion" id="btn-Eva" aria-label="Realizar Evaluación Pendiente 1">Realizar evaluación</button>
    </div>
</div>