@using RecursosHumanos_Utilidades
@model RecursosHumanos_Models.Evaluacion
<div class="card mb-2" id="cartaEva">
    <div id="card-body-Eva" class="card-body d-flex justify-content-between align-items-center">
        <span id="titulo-evaluacion-1">Evaluación 1</span>
        <div>
            <button class="btn btn-ver-resultados" id="btn-Eva" aria-label="Ver resultados de Capacitación 1">Ver Resultados</button>
            <button class="btn btn-eliminar" id="btn-eliminar-Eva" aria-label="Eliminar Capacitación 1">Eliminar</button>
        </div>
    </div>
</div>