@model RecursosHumanos_Models.ViewModels.PreguntaVM
@using RecursosHumanos_Utilidades
@using RecursosHumanos_Models


@{
    ViewData["Title"] = "Agregar Pregunta";
}

<div>
    <h1>Hola Sarita</h1>
</div>